.authCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
	transform: translate(-50%, -50%);
}

h1 { 
    color: #673ab7;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 46px; 
    font-weight: 100; 
    line-height: 50px; 
    letter-spacing: 1px; 
    padding: 0 0 40px;
}